// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
h1{
  text-align: center;
}
.col-sm-3{
  background-color: pink;

}
.col-xs-2 {
  background-color: #428bca;
  color: white;
  font-size: 30px;
  padding: 20px;
  border: .05em solid black;
}
.col-xs-2:hover{
  background-color: #2d6a9f;
}
.col-xs-5 {
  background-color: #428bca;
  color: white;
  font-size: 30px;
  padding: 20px;
  border: .05em solid black;
}
.col-xs-5:hover{
  background-color: #2d6a9f;
}

    #carousel_wrapper div{
      margin: 3px;
    }
    #carousel_wrapper div img{
      display: block;
      width: 100%;
      height: auto;
    }
